<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Montserrat|Rubik" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">
  <link rel="stylesheet" href="/css/style.css">
  <title>Sync-Video</title>
</head>

<body>
  <header class="mdc-toolbar">
    <div class="mdc-toolbar__row">
      <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
        <span class="mdc-toolbar__title">Sync-Video</span>
      </section>
    </div>
  </header>
  <main>
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4"></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4">
          <form id="loginForm">
            <h2>Login or sign up</h2>
            <div id="avatar" class="hide">
              <a href="http://gravatar.com/emails/" target="_blank" title="Edit on gravatar.com"><img src="" alt="Avatar"></a>
            </div>
            <div id="loginInputs" class="hide">
              <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                <input type="email" required id="email" class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label class="mdc-floating-label" for="my-text-field">Email</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div><br>
              <div class="mdc-text-field mdc-text-field--outlined" data-mdc-auto-init="MDCTextField">
                <input type="password" required id="password" class="mdc-text-field__input">
                <div class="mdc-notched-outline">
                  <div class="mdc-notched-outline__leading"></div>
                  <div class="mdc-notched-outline__notch">
                    <label class="mdc-floating-label" for="my-text-field">Password</label>
                  </div>
                  <div class="mdc-notched-outline__trailing"></div>
                </div>
              </div>
            </div>
            <button data-mdc-auto-init="MDCRipple" class="mdc-button hide" id="btnLogin">
              <span class="mdc-button__label">Login</span>
            </button>
            <button data-mdc-auto-init="MDCRipple" class="mdc-button hide" id="btnLogout">
              <span class="mdc-button__label">Log Out</span>
            </button>
            <button data-mdc-auto-init="MDCRipple" class="mdc-button hide" id="btnSignUp">
              <span class="mdc-button__label">Sign Up</span>
            </button>
            <button data-mdc-auto-init="MDCRipple" class="mdc-button hide" id="btnReset">
              <span class="mdc-button__label">Reset Password</span>
            </button>
          </form>
          <div class="hide" id="verify">
            <p>Email not verified. Click here to verify your email</p>
            <button data-mdc-auto-init="MDCRipple" class="mdc-button" id="btnVerify">
              <span class="mdc-button__label">Send Verification Email</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script src="https://www.gstatic.com/firebasejs/5.8.3/firebase.js"></script>
  <script src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/firebase.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>